@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Rubik:wght@300;400;700&display=swap');
* {
    font-family: 'Poppins';
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

$base--color: #68fe9a;
$dark--color: #060606;
$complementary--color: #51e5a1;
$optional--color: #24272c;
$white--color: #fefaf1;

body {
    // background-image: url(../img/slider/6.jpg);
    // min-height: 100vh;
    // background-size: cover;
    background-color: $dark--color;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
a {
    color: #1c1b1f;
    text-decoration: none;
}
main{

    max-width: 80vw;
    width: 100%;
    position: relative;
}
html{
    font-size: 62.5%;
}

@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
@keyframes scale-in-center {
0% {
    -webkit-transform: scale(0);
    transform: scale(0);
}
100% {
    -webkit-transform: scale(1);
    transform: scale(1);
}
}
@keyframes slide-to-left {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(-2000px);
    }
    }
@keyframes slide-to-right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(2000px);
    }
    }
// ======================================================= MIXIN ===============================================================//

@mixin pointerElement {
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    text-align: left;
    padding: 5px 10px;
    background-color: transparent;
    color: $white--color;
}
@mixin submitPointer {
    background-color: $complementary--color;
    color: $white--color;
    border: 1px solid $white--color;
    border-radius: 5px;
    line-height: 30px;
    padding: 0 10px;
    cursor: pointer;
}
@mixin cancelPointer {
    background-color: $optional--color;
    border: 1px solid $white--color;
    color: $white--color;
    transition: all 0.2s;
    border-radius: 5px;
    line-height: 30px;
    padding: 0 10px;
    cursor: pointer;
}
@mixin hoverElementPoint {
    background-color: $complementary--color;
    color: $white--color;
    border: 1px solid $complementary--color;
    transition: all 0.2s;
    box-shadow: 0 1px 5px 0 $base--color;
}
@mixin selectedElementPoint {
    color: $white--color;
    background-color: $complementary--color;
    border: 1px solid $base--color;
}
@mixin inputElement {
    outline: none;
    border: 1px solid $optional--color !important;
    background-color: $white--color;
    color: $white--color;
    border-radius: 3px;
    width: 100%;
    height: 30px;
    padding: 0px 5px;
}
@mixin modalOverlay {   
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000075;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}
@mixin modalOverlayShow {
    display: flex;
    transition: all 0.2s;
}
@mixin modal {
    max-height: 100vh;
    z-index: 1001;
    display: none;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
input[type='text'],input[type='number'],textarea, input[type='date'], input[type='password'] {
    @include inputElement();
    color: #000
}
.button--default {
    @include pointerElement();
}
.button--submit {
    @include submitPointer();
    height: 35px;
    width: 50%;
}
.button--cancel {
    @include cancelPointer();
    width: 50%;
    height: 35px;
}
.button--submit:hover, .button--cancel:hover {
    background-color: $dark--color;
    border: 1px solid $white--color;
    color: $white--color;
    transition: all 0.2s;
}

.button--default:hover {
    @include hoverElementPoint();
}
button {
    display: flex;
    align-items: center;
    justify-content: center
}
button.selected {
    @include selectedElementPoint();
}
select {
    @include inputElement();
    color: #000;
}
select option {
    background-color: rgba(255, 255, 255, 0);
    color: $dark--color;
}
/* ESTILIZAÇÃO LABEL ~ CHECKBOX */
input[type=checkbox], input[type=radio] {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

input[type=checkbox]:checked ~ label {
    color: $complementary--color;
    border: 1px solid $complementary--color;
    transition: all 0.2s;
}
label h3 {
    color: $optional--color;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
input[type=radio]:checked ~ label h3 {
    color: $dark--color;
    border: 1px solid $complementary--color;
    transition: all 0.2s;
}
// ESTADOS DE INPUT
input.verified {
    color: #000;
    border: 1px solid $complementary--color !important;
    transition: all 0.3s;
}
input.error {
    color: #ff0000;
    border: 1px solid #ff0000 !important;
    transition: all 0.3s;
}
input.verified ~ .login--ico {
    color: $complementary--color;
}
input.error ~ .login--ico {
    color: #ff0000;
}
// input:focus {
//     color: #000;
//     border: 1px solid $complementary--color !important;
//     transition: all 0.3s;
// }
// input:focus ~ .login--ico {
//     color: $complementary--color;
// }
// ============================================MODAL SETTINGS===================================================//

.modal--legend {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: $dark--color;
    width: 100%;
    color: $white--color;
    font-size: 1.8rem;
    padding: 0.5rem;
    font-size: 2rem;
}
.modal--close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 2rem;
    cursor: pointer;
}

.box--line {
    min-height: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 0px;
    width: 100%;
    margin-top: 1rem;
}
.box--col {
    text-align: left;
    width: 200px;
    display: inline-table;
    padding: 10px;
    position: relative;
}
.box--line button{
    width: 95%;
}
.box--line.checkbox--area {
    display: flex;
    border: none;
}
.box--col.checkbox--area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.box--col.checkbox--area label {
    color: $optional--color;
    padding: 5px 0px;
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s;
    width: 40px !important;
}
.box--col.checkbox--area i {
    width: 50px;
}
/*============================================= NAVBAR=================================================== */

header {
    width: 100vw;
    position: fixed;
    background-color: #000;
    font-size: 1.4rem;
    box-shadow: 0 1px 5px 0 $base--color;
    z-index: 1000;
}
.header--menu--navbar div a {
    padding: 10px;
    color: white;
}
.header--col--1 {
    width: 60%;
    display: flex;
    align-items: center;
    height: 50px; 
    margin-left: 0;
}
.header--col--1 a {
    min-width: 100px;
    border: 1px solid transparent;
    text-align: center;
}
.header--col--1 a:hover{
    color: $base--color;
    border-bottom: 1px solid $complementary--color;
    transition: all 0.2s;
    border-radius: 0px;
}
.header--col--2 {
    position: absolute;
    right: 20px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px; 
}
.header--col--2 a:hover{
    @include hoverElementPoint();
    border: none;
    border-radius: 5px;
}
.menu--logo {
    max-width: 130px;
    margin-left: 10px;
    margin: 0px 10px;
    cursor: pointer;
}
.menu--ico {
    display: none;
    padding: 10px;
    max-width: 50px;
    margin: 0px 10px;
    cursor: pointer;
}
// ==================================MOBILE MENU ===========================================//
.sec--project--sidebar {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: transparent;
    font-size: 1.6rem;
    overflow: hidden;
    width: 50px;
    transition: all 0.2s;
    display: none;
}
.sidebar--toggle {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    color: $white--color;
    background-color: transparent;
    height: 60px;
}
.sidebar--toggle i {
    font-size: 2.2rem;
    padding: 10px;
}
.sidebar--toggle h4 {
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 100%;
    display: none;
}
.sidebar--options {
    position: fixed;
    transform: translateX(-300px);
    top: 20%;
    z-index: 1000;
    border-radius: 0px 50px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 465px;
    padding: 3px;
    box-shadow: 0 1px 5px 0 $dark--color;
    background-color: $white--color;
    transition: all 0.3s
}
.sidebar--item {
    @include pointerElement();
    color: $dark--color;
    display: flex;
    height: 35px;
    align-items: center
}
.sidebar--item:hover {
    @include hoverElementPoint();
}
.sidebar--options.down {
    transform: translateX(0px);
    transition: all 0.3s;
}
/*================================================================== FILTROS DE PESQUISA DA LISTA ================================================================== */

.room--list--filters {
    margin-bottom: 10px;
    padding: 5px;
    height: 45px;
}
.room--list--search {
    position: relative;
    width: 37px;
    float: left;
    transition: all 0.3s;
    border: 1px solid $complementary--color;
    border-radius: 50px;
    height: 35px;
    overflow: hidden;
    background-color: $optional--color;
    line-height: 35px;
    margin-top: 10px;
}
.room--list--search.active {
    width: 50%;
    transition: all 0.3s;
    background-color: $white--color;
}
.room--list--search.active .search--ico  {
    color: $complementary--color;
}
.search--ico {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.6rem;
    background-color: transparent;
    color: $white--color;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#table--search--input {
    margin-left: 40px;
    border: none !important;
    font-size: 1.6rem;
    color: #000;
    background-color: transparent;
}
.room--list--options {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
}
.room--list--options button {
    transition: all 0.1s;
    width: 35px;
    margin-left: 10px;
    height: 35px;
    border: 1px solid $optional--color;
}
.room--list--options button span {
    display: none;
}
.room--list--options button:hover {
    width: 80px;
    transition: all 0.2s;
}
.room--list--options button:hover span {
    display: inline-block;
    word-wrap: none;
}

// =================================================================SESSÃO DE LISTAGEM===================================================//
.sec--project--content {
    padding-top: 60px;
    background-color: #1d2024;
}
.sec--project--room--list {
    position: relative;
    overflow: hidden;
    margin: 5px;
    min-height: 100vh;
}
.sec--project--room--list::-webkit-scrollbar {
    width: 3px;
    display: none;
  }
  
.sec--project--room--list::-webkit-scrollbar-track {
background: $optional--color;        /* color of the tracking area */
}

.sec--project--room--list::-webkit-scrollbar-thumb {
background-color: $complementary--color;    /* color of the scroll thumb */
border-radius: 20px;       /* roundness of the scroll thumb */
border: 3px solid $complementary--color;  /* creates padding around scroll thumb */
}
.room--list--case {
    background-color: $optional--color;
}
.table--room {
    width: 100%;
    color: $white--color;
    border-collapse: separate;
    border-spacing: 0px;
    transform: translateX(0);
    transition: all 0.3s;
}
.table--room.change {
    transform: translateX(-2000px);
    transition: all 0.3s;
}
.table--header {
    border: none;
    border-bottom: 1px solid $white--color;
    border-radius: 0px;
    font-size: 1.4rem;
    background-color: transparent;
    color: $white--color;
    cursor:crosshair;
}
// #table--room--itens {
//     background-color: $base--color;
// }

tr {
    display: flex;
}
#table--room--itens td {
    padding: 10px;
    display: flex;
    width: 12%;
    text-align: center;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
}
.table--item {
    margin-top: 10px;
    border-radius: 2px;
    background-color: $dark--color;
    border-left: 5px solid $complementary--color;
    cursor: pointer;
    color: $white--color;
}
.table--item:hover {
    transition: all 0.2s;
    border-left: 5px solid $white--color;
}
.table--item--more {
    width: 100%;
    display: inline-table;
    position: absolute;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    margin-top: -22rem;
    border-top: none;
    background-color: $dark--color;
    z-index: 0;
    border-left: 5px solid $complementary--color;
}
.table--item--more.show {
    margin-top: 0rem;
    opacity: 1;
    pointer-events: all;
    position: relative;
    transition: all 0.1s;
}
.table--item--more th {
    color: $white--color;
    padding: 5px;
    font-weight: normal;
    font-size: 1.2rem;
    width: 13%;
}
.table--item--more th div p {
    border: 1px solid $optional--color;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    min-height: 30px;
}
.table--item--more th div button {
    margin-top: 10px;
}

.mobile--buttons {
    display: none;
    z-index: 3;
    justify-content: flex-end;
    padding: 10px;
    background-color: #1d2024;
    border-bottom: 0.5px solid #32363a
}
.mobile--sec--style--toggle {
    position: relative;
    height: 35px;
    display: flex;
    color: $white--color;
    font-size: 2.2rem;
    width: 80px;
    background-color: $dark--color;
    border: 2px solid $dark--color;
    border-radius: 50px;
    // justify-content: center;
    align-items: center;
    cursor: pointer;
}
.circle--display {
    z-index: 1;
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 50px;
    background-color: $optional--color;
    border: 1px solid $dark--color;
    transition: all .3s;
    left: 0%;
}
.style--option {
    z-index: 2;
}
.circle--display.toggle {
    left: 50%;
    transition: left .3s;
}
#style--list {
    color: $white--color;
    transition: all .5s;
}
#style--grid {
    color: $optional--color;
    transition: all .5s;
}
#style--list.toggle {
    color: $optional--color !important;
    transition: all .5s;
}
#style--grid.toggle {
    color: $white--color !important;
    transition: all .5s;
}
// =================================================TABLE GRID VER ==================================================//
.table--grid {
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateX(2000px);
    transition: all 0.3s;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.table--grid.change {
    transform: translateX(0);
    transition: all 0.3s;
}
.grid--block {
    width: 100%;
}
.grid--col {
    width: 100%;
    font-size: 1.6rem;
}
.grid--header {
    position: relative;
    padding: 10px;
    margin-top: 10px;
    border-radius: 2px;
    background-color: $dark--color;
    border-left: 5px solid $complementary--color;
    cursor: pointer;
    color: $white--color;
}
.grid--itens {
    background-color: #1d2024;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transform: rotateX(90deg);
    height: 0px;
    position: absolute;
    z-index: -1;
    transition: all 0.2s
}
.grid--itens button {
    @include pointerElement();
    width: 100%;
    border-radius: 5px;
    border: 1px solid $optional--color;
}
.grid--itens button:hover {
    @include hoverElementPoint()
}
.grid--itens.show {
    transform: rotateX(0deg);
    position: initial;
    height: auto;
    transition: all 0.2s
}
.arrow--down--element {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}
.grid--itens img {
    max-width: 50px;
}
/* ================================================== MODAL ADD ROOM ====================================================*/
#modal--add--room {
    @include modalOverlay();
    background-color: #00000070
}
#modal--add--room.show {
    @include modalOverlayShow();
}
#add--room--box {
    width: 900px;
    @include modal();
    color: $dark--color;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: $white--color
}
/* ================================================== MODAL FILTROS ====================================================*/

/* ================================================== MODAL EDIT ROOM ====================================================*/
#modal--edit--room {
    @include modalOverlay();
}
#modal--edit--room.show {
    @include modalOverlayShow();
}
.edit--room--box {
    width: 900px;
    @include modal();
    color: $dark--color;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: $white--color;
    max-height: 100vh;
}
// ================================================== MODAL USER INFO =======================================================//
#modal--user {
    @include modalOverlay();
}
#modal--user.show {
    @include modalOverlayShow();
}
.user--info--box {
    width: 500px;
    @include modal();
    color: $dark--color;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: $white--color
}
#user--image {
    max-width: 100px;
    border-radius: 50%;
}
/* ===============================FOOTER================================ */
footer {
    position: fixed;
    bottom: 0;
    background-color: #000;
    width: 100%;
    display: flex;
    border-top: 1px solid $white--color;
    color: $white--color;
    border-top: 5px solid $base--color;
    box-shadow: 0 1px 5px 0 $base--color;
}
footer div {
    display: flex;
}
footer div button{
    margin: 10px;
    font-size: 1.6rem;
}
/* =============================== MODAL LOAD AJAX ============================== */
.ajax--load {
    @include modalOverlay();
}
.ajax--load.show {
    @include modalOverlayShow();
}
.request--feedback--info {
    @include modal();
    color: $dark--color;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: $white--color;
    width: 350px;
}
.ajax--request--feedback img {
    max-width: 70px;
}
// ==================================== ACESS PAGE =====================================//
.login--box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5px;
    box-shadow: 0 1px 5px 0 $base--color;
    font-size: 1.4rem;
    border-radius: 5px;
    background-color: $dark--color;
    width: 400px;
}
.login--form {
    width: 100%;
    background-color: $white--color;
    border-radius: 5px;
    border: 1px solid $base--color;
}

.login--form .login--ico {
    position: absolute;
    right: 10px;
    padding: 5px;
    font-size: 1.8rem;
    color: $base--color;
}
.login--form .box--col {
    width: 100%;
}
// ================================== SHORTCUTS =======================================//
.sec--project--shortcuts {
    height: 100px;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, $dark--color 100%);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.shortcuts--box {
    border-radius: 50px;
    padding: 10px;
    font-size: 2.8rem;
    background-color: #000;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* ==================================== MEDIA QUERIES ==================================== */
@media (max-width:992px) {
    html{
        font-size: 60%;
    }
    #add--room--box {
        width: 100%;
        max-width: 960px;
    }
    .edit--room--box {
        width: 100%;
    }
    #filter--select--box {
        width: 100%;
    }
    .table--col--1, .table--col--4, .table--col--5 {
        display: none !important;
    }
    main {
        max-width: 100vw !important;
    }
}
@media (max-width:768px) {
    html{
        font-size: 57%;
    }
    .header--col--1 {
        width: 100%;
        justify-content: center;
        height: 60px;
    }
    
    .menu--item {
        display: none;
    }
    
    .sec--project--sidebar {
        display: block;
    }
    .user--info--box {
        width: 95%;
    }
}
@media (max-width:576px) {
    i {
        font-size: 2.4rem;
    }
    html{
        font-size: 55%;
    }
    .mobile--buttons {
        display: flex;
    }
    .room--list--search, .room--list--search.active {
        width: 99%;
        color: $white--color;
        background-color: $white--color;
    }
    .room--list--search .search--ico  {
        color: $complementary--color;
    }
    .room--list--options {
        display: none;
    }
    .table--col--2, .table--col--6 {
        display: none !important;
    }
    .table--item--more {
        display: none;
    }
    .sec--project--shortcuts {
        display: flex;
    }
    .table--room--show--info--button {
        display: none;
    }
    footer {
        display: none;
    }
}
@media (max-width:452px) {
    html{
        font-size: 53%;
    }
    .box--col {
        width: 150px;
    }
    .box--line {
        grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    }
    .login--box {
        width: 100%;
    }
}
@media (max-width:300px) {
    html{
        font-size: 50%;
    }
    .header--mobile a {
        width: 85%;
    }
}
// .sec--acess--content {
//     @include modalOverlayShow();
// }
